* {
    margin: 0px;
    padding: 0px;
}

.background {
    height: 700px;
    width: 450px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    border: 2px solid white;
    border-radius: 10px;
}

.platform {
    height: 450px;
    width: 350px;
    background-color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 5px 1px 15px rgb(49, 46, 46);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.image {
    height: 150px;
    width: 150px;
    background-image: url(profile.jpg);
    border-radius: 50%;
    background-size: cover;
    margin-top: 10px;


}

.name {
    height: 20px;
    width: 20px;
    text-align: center;
    margin-left: -25px;
}

hr {
    background-color: grey;
}

.container {
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.git-logo {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-image: url(git-hub.webp);

}

.link-logo {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-image: url(link.png);
}

.insta-logo {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-image: url(insta.webp);
}

.para {
    margin-left: 30px;
    margin-right: 30px;
}

.button {
    height: 40px;
    width: 150px;
    background-color: blue;
    color: white;
    font-size: larger;
    text-align: center;
   padding-top : 10px;
}